@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 id="About-us-head">О нас:</h1>

    <div id="about-us" class="info-block">
        <fieldset id="fieldset-about-us">
            <p> Крупнейший поисковик авиабилетов в Казахстане.</p>
            <p>Мы сравниваем все доступные варианты перелётов по вашему запросу,</p>
            <p>а потом направляем вас для покупки на </p>
            <p>сайты авиакомпаний и агентств.</p>
        </fieldset>
    </div>


    <div id="advantages" class="info-block">
        <p>
            Чтобы не открывать десятки разных сайтов, 
            не путаться во вкладках и не сравнивать цены вручную. 
            Всё это мы уже сделали за вас. А еще добавили эксклюзивные акции,
            удобные фильтры для поиска и скидки от авиа­компаний. 
            Опытные путешественники пользуются Travel way поэтому поиск билета 
            у них занимает менее 30 секунд. А у вас?
        </p>
    </div>
 
</div>






