@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <table>
        <tr>
            <td>Город отправления: </td>
            <td><input value="Астана" type="text" /></td>
        </tr>
        <tr>
            <td>Город прибытия: </td>
            <td><input value="Алматы" type="text" /></td>
        </tr>
        <tr>
            <td><input value="Проложить путь" type="button" /></td>
        </tr>
    </table>

</div>