@{
    ViewBag.Title = "Routes";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<header>
    <h2>Routes</h2>
    <p>From @ViewBag.Searcher.From</p>
    <p>To @ViewBag.Searcher.To</p>
    <p>Date @ViewBag.Searcher.DepartureDate</p>
</header>
<content>


</content>



