<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8" />
    <title>Travel Way</title>
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <wrapper>
        <header>

            <div id="Image">
                <img src="~/Content/images/logo.png" id="logo" />
                <form action="" method="GET" id="Form-getting-direction">
                    <fieldset id="Getting-direction">
                        <label for="From">Введите город отбытия:</label>
                        <input type="text" name="From" id="OutCity" placeholder="Астана" />
                        <hr color="white" />
                        <label for="To">Введите город прибытия:</label>
                        <input type="text" name="To" id="InCity" placeholder="Алматы" />
                        <hr color="white" />
                        <label for="DepatureDate">Дата отбытия:</label>
                        <input type="date" name="DepatureDate" value="2019-03-06" min=@DateTime.UtcNow />
                        <hr color="white" />
                        <input type="button" name="Button" id="Button" value="Найти" />
                    </fieldset>

                </form>
            </div>
        </header>
        <content>
            @RenderBody()
        </content>
        
        <footer id="footer" style="background-color: #0E0E0E">
                <img src="~/Content/images/logo.png" id="footer-logo" alt="" />
                <p id="footer-text-logo" style="color:white">TravelWay corporation. All rights reserved</p>
        </footer>
    </wrapper>
</body>
</html>

