<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>Travel Way</title>
</head>
    <body>
        <div id="Header">
            <h3>Travel Way</h3>
        </div>

        <div id="Body">
            
            @RenderBody()

        </div>
    </body>
</html>