<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8" />
    <title>Travel Way</title>
    <link rel="shortcut icon" href="~/Content/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body style="background-color: #fffcf2;">
    <wrapper>
        @RenderBody()
        <br />
        <br />
        <div id="dub"/>
        <footer id="Footer" style="background-color: #0E0E0E; z-index:0;">
            <img src="~/Content/images/logo.png" id="footer-logo" alt="" />
            <p id="footer-text-logo" style="color:white; font-style:normal;">TravelWay corporation. All rights reserved</p>
        </footer>
    </wrapper>
</body>
</html>

