
* {
    margin: 0;
    padding: 0;
}


body {
    height: 100%;
    z-index: 1;
}

wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

content {
    flex: 1 0 auto;
}

footer {
    position: relative;
    bottom: 0;
    
    background-color: #0E0E0E;
    border-style: solid;
    border-color: black;
    display: block;
    color: white;
}

#logo {
    z-index: 3;
    left: 5px;
    top: 5px;
    width: 100px;
}


#Image {
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    height: 80%;
    background-image: url(/Content/images/TravelPhoto.jpg);
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;
}

#renderBody {
}

#Getting-direction {
    z-index: 5;
    width: 50%;
    margin: 200px auto;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 19px;
    border-width: 0;
    text-align: center;
}

#Button {
    background-color: white;
    border-width: 0px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 5px;
    text-align: center;
    width: 85px;
    height: 30px;
    line-height: 20px;
    font-family: Arial, sans-serif;
}

button:hover {
    background-color: #f2e3ae;
    color: black;
}


.container {
    margin-left: 50px;
    width: 50px;
    color: white;
}

#footer-logo {
    margin-left: 50px;
    width: 50px;
}

#footer-text-logo {
    font-family:'Times New Roman', Times, serif ;
    
}


#About-us-head {
    color: black;
}



#dub {
    position: relative;
    margin: 0;
    padding: 0;
    height: 50px;
}
