

#Header {
    z-index:1;
    position:absolute;
    background-color: #00E6BC;
    padding-top: 150px;
    position:fixed;
    width: 100%;
    left: 0;
    top: 0; 

}

#logo {
    position: absolute;
    z-index: 4;
    width: 220px;
    position: center;
    left: 20%;
    position: fixed;
}



h3 #Header{
    font-style:inherit;
    color:black;
}   